
/*********************** btn_approve **********************/

.btn_approve {
    background: #82c402;
    padding-top: 10px!important;
    padding-right: 40px!important;
    padding-left: 40px!important;
    padding-bottom: 10px!important;
    color: #fff;
    border-bottom: 4px solid #5fa018!important;
    border-radius: 30px;
}

.btn_approve a:hover ,.btn_approve:hover {
    text-decoration: none;
    background: #78b600;
    color: #fff!important;
    border: 0px
}
.btn_approve a:hover .fa {
    color: #78b600;
    background: #fff
}
.btn_approve a {
    background: #82c402;
    color: #fff;
    padding: 10px 30px;
    border-bottom: 3px solid #71a903;
    border-radius: 50px;
    float: right;
    font-size: 14px
}
.btn_approve .fa {
    border: 1px solid #fff;
    border-radius: 50px;
    width: 25px;
    height: 25px;
    padding: 6px 0;
    text-align: center;
    margin-left: 5px;
}
.sidebar-container {
    background: #0d3a52;
    display: flex;
    position: fixed;
    bottom: 0;
    height: 100%;
    left: 0;
    width:370px;
    justify-content: flex-end;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    z-index: 9;
}

.choose-company-container h2{
    font-size: 5vh;
    color: #000;
    text-align: center;
    font-weight: 400;
    line-height: 8vh;
}
.choose-company-container h2 a{ text-decoration: underline}
.report-preview path,.report-preview a:hover path{ fill:#fff!important;}
.report-preview svg{ margin-right: 8px}
.report-preview a { color: #fff; background: #27688a; border-color:#27688a!important; font-weight: 300; font-size: 18px}
.report-preview a:hover{ background: #0d3952!important}
.journalVoucher{
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}