@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
    font-family: 'Montserrat', sans-serif!important;
}

.stepHeading {
    font-size: 58px;
}
.floatNone{
    float: none!important;
}

* {
    list-style: none;
    outline: none;

}

a:hover, a:focus {
    text-decoration: none
}

.contentAreaContainerOpen {
    margin: 0px !important;
    width: 100% !important
}

ul {
    margin: 0;
    padding: 0;
}

.no-padding {
    padding: 0px !important;
}

.clear {
    float: left;
    width: 100%
}

:disabled {
    pointer-events: none;
    cursor: not-allowed;
}
.mat-radio-button {font-family: 'Montserrat', sans-serif!important}
.contentAreaContainer {
    margin-left: 350px;
    position: relative;
    height: 99vh;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
}

@keyframes slideDown {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(5%);
    }
    65% {
        transform: translateY(4%);
    }
    80% {
        transform: translateY(3%);
    }
    95% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}

/*************************  Collapsed navigation start  **********************************/
.collapsed-left-bar .slidebarSection li span {
    background-size: 20px;
    font-size: 0;
    background-size: 28px;
    padding: 0px;
    margin: 0px !important;
    background: none !important;
    padding: 37px 32px 10px !important;
}

.collapsed-left-bar .slidebarSection li span:hover {
    background: #fff !important
}

.collapsed-left-bar .sidebar-footer-nav li:last-child {
    border-bottom: 0px;
}

.collapsed-left-bar .sidebar_head {
    margin-bottom: 12vh
}

.collapsed-left-bar .company-name {
    display: none
}

.collapsed-left-bar li {
    position: relative;
    border-bottom: 1px solid #1a5c7f;
    list-style: none;
    -webkit-transition-property: border;
    /* Safari */
    -webkit-transition-duration: 5s;
    /* Safari */
    transition-property: border;
    transition-duration: 5s;
    margin: 0;
}

.collapsed-left-bar .slidebarSection li:hover span {
    background-color: #fff
}

.collapsed-left-bar .slidebarSection li .fa {
    display: none
}

.collapsed-left-bar .slidebarSection li ul {
    position: absolute;
    right: -417px;
    background: #23546f;
    opacity: 0;
    z-index: 99;
    top: 0;
    padding: 0;
    visibility: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.collapsed-left-bar .slidebarSection li:hover ul {
    opacity: 1;
    top: 0;
    visibility: visible;
    display: block !important;
    width: 417px;
}

.collapsed-left-bar .slidebarSection li ul li:last-child {
    border: 0px;
}

.collapsed-left-bar .slidebarSection li ul li {
    padding: 10px 0;
    margin: 0px !important;
}

.collapsed-left-bar .sidebar-footer-nav li {
    text-align: right;
    width: 100%;
    font-size: 0px;
    float: left;
}

.collapsed-left-bar .sidebar-footer-nav li span {
    position: inherit;
    top: -10px;
    width: 19px;
    left: 12px;
    display: inline-block;
    text-align: center;
}

.collapsed-left-bar #nav-icon1 {
    margin: 25px 20px 0 0
}

.collapsed-left-bar .sidebar-footer-nav {
    display: block;
    justify-content: flex-start;
    outline: none;
    border-top: 0px;
    position: static;
    width: 100%;
}

.collapsed-left-bar {
    overflow: visible
}

.collapsed-left-bar .slidebarSection svg {
    float: right !important;
    position: relative;
    right: -10px;
    top: -16px;
    margin: 0 !important;
}

.collapsed-left-bar .slidebarSection span:hover rect,
.collapsed-left-bar .slidebarSection span:hover path,
.collapsed-left-bar .sidebar-footer-nav li:hover path {
    fill: #0d3952 !important;
    transition: all 1s ease;

}

.collapsed-left-bar .scrollbar {
    height: auto;
    overflow: visible !important
}

.collapsed-left-bar .slidebarSection li ul li:hover {
    background: #fff
}

.collapsed-left-bar .slidebarSection li ul li:hover a {
    color: #000 !important
}

/***************************** HUmburger icon  **************************/

.collapsed-left-bar .slidebarSection li ul li a {
    padding: 4px 0 0;
}

.collapsed-left-bar .sidebar-footer-nav svg {
    float: right !important;
    margin: 0 22px 10px 0;
}

/************************* ! Collapsed navigation end  **********************************/
.sidebar_head {
    margin-bottom: 100px
}

.md-sidenav-container {
    background: none
}

.company-name {
    color: #fff;
    font-size: 18px;
    background: url("./app/img/dititala-box.svg") no-repeat 0 50%;
    background-size: 30px;
    padding: 8px 0px 8px 38px;
    margin: 20px;
    font-weight: 300;
}

.collapsed-left-bar #organisation-list {
    display: none;
    right: -445px;
    position: absolute;
    background: #0d3a52;
    width: 440px;
    max-height: 78vh;
    overflow: auto;

}

.collapsed-left-bar .footer-companies:hover .collapsed-left-bar #organisation-list {
 display: block!important;
}

/******************************** End section design    *********************************/

/************************* footer nav start ****************************/

.current-guide {
    background: #fff !important
}

.sidebar-footer-nav {
    display: flex;
    justify-content: flex-end;
    outline: 1px solid #051e2b;
    border-top: 1px solid #27678a;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: #0d3a52;
    left: -1px;
    background: #0d3a52;
}

.sidebar-footer-nav li span {
    background: #ff0000;
    padding: 2px 6px;
    border-radius: 50px;
    color: #fff;
    position: absolute;
    top: 17px;
    font-size: 11px;
    left: 26px;
    font-weight: 500;
}

.sidebar-footer-nav li ul {
    display: none
}

.sidebar-footer-nav li {
    align-items: stretch;
    list-style: none;
    color: #fff;
    width: 25%;
    text-align: center;
    position: relative;
    font-size: 14px;
    padding: 20px 0 10px;
    cursor: pointer;
    font-weight: 300;
    position: relative;
}

.sidebar-footer-nav li:hover {
    background: #27688a;
}

.sidebar-footer-active {
    background: #27688a;
}

.collapsed-left-bar .sidebar-footer-nav li:hover {
    background: #fff
}

.md-sidenav-container {
    height: 100%
}

/***************************** HUmburger icon  **************************/

#nav-icon1 {
    width: 35px;
    height: 35px;
    position: relative;
    margin: 25px 9px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 12px;
}

#nav-icon1 span:nth-child(3) {
    top: 24px;
}

.sidebar-footer-nav svg {
    width: 30px;
    display: block;
    margin: 5px auto
}

.sidebar-footer-nav path {
    fill: #fff;
    width: 30px
}

.scrollbar {
    max-height: 65vh;
    overflow-y: auto;
}

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #27678a;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #27678a;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #fff;
}

.selected-guide a {
    font-weight: 400 !important;
}

.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.mat-dialog-container {
    display: flex !important;
    align-content: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: visible !important
}

.todo-list .scrollbar {
    max-height: 54vh!important;
}
.mat-fab {
    position: absolute !important;
    right: -26px;
    top: -25px;
}

.mat-dialog-title {
    font-size: 50px !important;
    color: #000;
    text-transform: uppercase;
    font-weight: 400 !important;
    margin: 3vh 0 !important;
    font-family: 'Montserrat', sans-serif!important;
}

.mat-dialog-container h2 {
    font-size: 26px;
    font-weight: 200
}
.previousBtn svg {
    width: 22px;
    margin: 6px 0 0;
}
.previousBtn {
    margin:15px auto 0!important;
}
.mat-input-container {
    display: block !important;
    margin:7vh 0px;
    color: #000;
}

.choose-business-line .mat-dialog-content {
    overflow: visible !important
}

.choose-business-line .mat-radio-label-content {
    border: 1px solid #555;
    padding: 10px 0px;
    width: 200px;
    margin: 13px;
    cursor: pointer;
    text-align: center;
    font-size: 22px;
}

.choose-business-line .mat-radio-checked .mat-radio-label-content, .choose-business-line .mat-radio-button:hover .mat-radio-label-content {
    background: #27678a;
    border-color: #27678a
}

.choose-business-line .mat-radio-container {
    display: none !important
}

.choose-business-line .mat-radio-checked .mat-radio-checked, .choose-business-line .mat-radio-button:hover .choose-business-line.mat-radio-checked {
    color: #fff !important
}

.next-arrow:hover,.previousBtn:hover {
    background: #27688a !important;
    border-color: #27688a !important;
}

.next-arrow:hover path,.previousBtn:hover path {
    fill: #fff
}

.next-arrow {
    background: none;
    border: 1px solid #000 !important;
    height: 80px;
    width: 80px;
    border-radius: 80px !important;
    align-content: center;
    justify-content: center;
    display: block !important;
    background: none !important;
    margin:0px auto !important;
    cursor: pointer;
}

.next-arrow svg {
    width: 33px
}

.mat-input-underline {
    border-color: #555 !important
}

.mat-input-placeholder {
    color: #111;
    font-weight: 200;
}

.mat-focused {
    color: #26668a !important;
}

.mat-radio-label-content {
    font-weight: 100;
}

.mat-radio-checked, .mat-radio-button:hover .mat-radio-label-content {
    color: #fff
}
.mat-input-element{
    font-size: 25px!important;
    font-weight: 200!important;
    font-family: 'Montserrat', sans-serif!important;
 }
/**place holder size***/
.mat-input-placeholder.mat-empty {
    font-size: 24px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif!important;
    color: #868585;
}
.mat-input-underline .mat-input-ripple {
    background-color: #26668a !important;
}

.pop-up-close-btn {
    height: 75px !important;
    width: 75px !important;
    background: #fff;
    opacity: 1 !important;
    font-size: 34px !important;
    color: #666;
}
.mat-input-placeholder-wrapper::after{
    height: 40px;

}
.mat-input-placeholder-wrapper {
    top: -3em!important;
}
.skip-step{ text-decoration: underline; font-size: 18px;    margin:30px 0 0;
    display: block; }
.skip-step:hover{ text-decoration: none}
/*************************  popup css overide  **********************************/
.footer {
}
.previousBtn {
    background: none;
    border: 1px solid #000 !important;
    height: 50px;
    width: 52px;
    border-radius: 80px !important;
    align-content: center;
    justify-content: center;
    display: block !important;
    background: none !important;
    margin:30px auto !important;
    cursor: pointer;
}

.previousBtn svg {
    transform: rotate(180deg);
}
.title {

    padding:100px 0;
}

.title h1 {
    font-size: 54px;
    font-weight: bolder;
    padding: 5px;
    font-weight: 500;
    align-self: flex-start;
    text-align: center;

}
.section_content{
    display: flex;
    min-height:90vh;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.title{ align-self: flex-start}
.middle-content{ align-self: center}
.footer{ align-self: flex-end; width: 100%}

@media screen and (max-width: 720px) {
    .sidebar-container {
        width: auto;
        z-index: 999;
    }

    /*************************  Collapsed navigation start  **********************************/
    .collapsed-left-bar .slidebarSection svg {
        float: right !important;
        position: relative;
        right: -10px;
        top: -16px;
        margin: 0 !important;
    }

}